.container {
  max-width: $container-max-size;
  margin: 0 auto;
}

.flex--row {
  display: flex;
}

.justifyContent {
  &--center {
    justify-content: center;
  }
  &--spaceAround {
    justify-content: space-around;
  }
}

.alignItems {
  &--start {
    align-items: flex-start;
  }
  &--center {
    align-items: center;
  }
}

.flex--column {
  display: flex;
  flex-direction: column;
}
.flex--wrap {
  flex-wrap: wrap;
}
